.App {
    font-family: sans-serif;
    }
    
    .slider-arrow {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
    
    .arrow-btn {
      top: 45%;
    }
    .next {
      float: right;
    }